/*Se crean los estilos del menu*/
section {
    margin-bottom: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.content{
    min-height: 80px;
    background: linear-gradient(
        90deg,
        rgb(253, 253, 253)0%,
        rgb(250, 250, 250)70%

    );
}

.content.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    font-size: 25px;
    color: #080808;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #020202;
    display: block;
    font-weight: bold;
}
.menu .navbar ul li a:hover {
    color: #dedede;

}
#menu {
    display: none;
}
.menu-icono{
    width: 25px;
}
.manu label {
    cursor: pointer;
    display: none;
}
@media(max-width: 991px) {

    .content{
        min-height: 70px;
    }

    .menu{
        top:0;
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(
            90deg,
            rgba(203,18,133,1)0%,
            rgba(80,49,145,1)70%
    
        );
        display: none;
    }
}
/*Estilos Globales*/
*::after,
*::before,
body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'lato';
    color: #333;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

img{
    max-width: 100%;
}

.icon-cart:hover{
    cursor: pointer;
}

/*Header*/
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}
/*Se crean los estilos icono carrito*/
.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.cart-product{
    display: flex;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}
.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}
.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}
.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}
.hidden-cart{
    display: none;
}


/*Main*/
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    }

.item{
        border-radius: 10px;
   }

.item:hover{
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
   }

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
    overflow: hidden;
}

.info-producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-producto button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}